<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                            http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context-4.3.xsd
                            http://www.springframework.org/schema/mvc
                            http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
                            http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

    <!--启用注解-->
    <context:annotation-config/>
    <!--制定扫描包路径-->
    <context:component-scan base-package="com.dayton.rest"/>
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

    <!--静态资源映射-->
    <!--<mvc:resources mapping="/restws/" location="/script/**"/>-->
    <!--解决静态资源没法加载的问题-->
    <!--<mvc:default-servlet-handler/>-->

    <!-- 其他配置文件 -->
    <import resource="spring-mvc.xml"/>
    <import resource="applicationContext-ActiveMQ.xml"/>
    <import resource="activeMQ_user.xml"/>

</beans>